@import url('./styles.css');   
          
        .solucoes {
            padding: 6rem 2rem;
            text-align: center;
            max-width: 1200px;
            margin: 0 auto;
        }
        

        .solucoes table{
            max-width: 900px;
            margin: 0 auto;
            background-color: #686b6b44;
            border-radius: 12px;
            overflow: hidden;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
            border-collapse: collapse;
        }

        .solucoes table thead {
            background-color: #1f2937;
            color: #ffffff;
            text-align: left;
        }
        
        .solucoes table th, .solucoes table td {
            padding: 16px 20px;
        }
   